/****** General ***********/

// https://cssloaders.github.io/
div.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $darkGrey;
    z-index: 2;
    transition: opacity 1s, visibility 5s;
    animation: loading-bg 1s 3s forwards;

    .loader {
        position: relative;
        width: 120px;
        height: 14px;
        border-radius: 0 0 15px 15px;
        background-color: #3e494d;
        box-shadow: 0 -1px 4px #5d6063 inset;
        animation: panex 0.5s linear alternate infinite;
        transform-origin: 170px 0;
        z-index: 10;
        perspective: 300px;

        &::before {
            content: '';
            position: absolute;
            left: calc(100% - 2px);
            top: 0;
            z-index: -2;
            height: 10px;
            width: 70px;
            border-radius: 0 4px 4px 0;
            background-repeat: no-repeat;
            background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
            background-size: 50px 10px, 4px 8px, 24px 4px;
            background-position: right center, 17px center, 0px center;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            z-index: -2;
            transform: translate(-50%, -20px) rotate3d(75, -2, 3, 78deg);
            width: 55px;
            height: 53px;
            background: #fff;
            background-image:
                radial-gradient(circle 3px, #fff6 90%, transparent 10%),
                radial-gradient(circle 12px, #ffc400 90%, transparent 10%),
                radial-gradient(circle 12px, #ffae00 100%, transparent 0);
            background-repeat: no-repeat;
            background-position: -4px -6px, -2px -2px, -1px -1px;
            box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
            border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
            animation: eggRst 1s ease-out infinite;
        }
    }
}

@keyframes loading-bg {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes eggRst {

    0%,
    100% {
        transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg);
        opacity: 0;
    }

    10%,
    90% {
        transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg);
        opacity: 1;
    }

    25% {
        transform: translate(-50%, -40px) rotate3d(85, 17, 2, 70deg)
    }

    75% {
        transform: translate(-50%, -40px) rotate3d(75, -3, 2, 70deg)
    }

    50% {
        transform: translate(-55%, -50px) rotate3d(75, -8, 3, 50deg)
    }
}

@keyframes panex {
    0% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(10deg)
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    height: 63px;

    .logo {
        color: black;
        text-align: center;
        font-family: Shrikhand;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

main {
    .localisation {
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        background: $darkGrey;

        p {
            font-size: 16px;
            color: $darkenGrey;
            padding-left: 10px;
        }
    }

    .reservation {
        width: 100%;
        background: $grey;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;

        h1 {
            text-align: center;
            margin: 0;
            color: black;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 20px;
        }

        p {
            color: $darkenGrey;
            text-align: center;
            font-size: 18px;
            margin: 0;
            margin-bottom: 20px;
        }
    }

    /*******fonctionnement*******/


    section.functioning {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $white;

        h2 {
            width: 100%;
            padding-left: 40px;
            line-height: 28px;
        }

        button {
            position: relative;
            width: 90%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 72.38px;
            background-color: $greyBG;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            font-weight: 500;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 30px;

            .badge {
                width: 24px;
                height: 24px;
                background-color: $purple;
                color: $white;
                font-size: 14.18px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: -12px;
            }

            i {
                color: $greyDarker;
                font-size: 19.9px;
                position: absolute;
                left: 8%;
            }

            &:hover {
                i {
                    color: $purple;
                }
            }
        }

    }

    /*******restaurants*******/

    section.eateries {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $darkGrey;

        h2 {
            width: 100%;
            padding-left: 40px;
            line-height: 28px;
        }

        a {
            width: 90%;
            margin-bottom: 30px;

            article {
                display: flex;
                flex-direction: column;
                height: 251px;
                border-radius: 20px;
                background-color: $white;
                position: relative;

                img {
                    height: 174px;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }

                .sticker {
                    width: 80px;
                    height: 29px;
                    border-radius: 2px;
                    background-color: $lightGreen;
                    color: $green;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16px;
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .eatery-container {
                    display: flex;
                    justify-content: space-between;
                    flex: 1;

                    .eatery-desc {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        flex: 1;

                        h3 {
                            margin-top: 0;
                            margin-bottom: 0;
                            padding-left: 15px;
                        }

                        p {
                            margin-top: 0;
                            margin-bottom: 0;
                            padding-left: 15px;
                            font-size: 17px;
                            font-weight: 300;
                        }
                    }

                
                }
            }
        }
    }
}


@media (min-width: 769px) {
    main#home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        section.explore {
            width: 100%;

            h2 {
                font-size: 40px;
            }
        }

        section.functioning {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-left: 50%;
            padding-right: 50%;
            width: 100%;

            h2 {
                margin-left: 2.5%;
                padding-left: 0;
            }

            button {
                width: 28%;
                padding-left: 5%;
                padding-right: 5%;

                i {
                    left: 7%;
                }
            }
        }

        section.eateries {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-left: 15%;
            padding-right: 15%;
            width: 100%;

            h2 {
                margin-left: 2.5%;
                padding-left: 0;
            }

            a {
                width: 45%;
            }
        }
    }
}