/*********Page*********/
body {
    display: flex;
    flex-direction: column;
}

.pageheader {
    display: flex;
    justify-content: space-between;

    h1 {
        padding-right: 30%;
    }

    i {
        padding-left: 20px;
    }
}



.backimage {
    height: 275px;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.pagemenu {
    width: 100%;
    background: #F3F3F3;
    border-radius: 40px 40px 0px 0px;
    top: -40px;
    position: relative;
    margin-bottom: -40px;


    .title {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;

        h4 {
            color: black;
            font-family: Shrikhand;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 90%;
            padding-left: 20px;
        }

    }

    h2 {

        color: #000;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        padding-left: 3%;

        &:after {
            display: flex;
            bottom: 2px;
            content: "";
            width: 30px;
            height: 3px;
            background-color: #99E2D0;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .menu {
        animation: fadeIn 0.5s both;

        // &:nth-child(2) {
        //     animation-delay: 500ms;
        // }

        // &:nth-child(3) {
        //     animation-delay: 1000ms;
        // }

        // &:nth-child(4) {
        //     animation-delay: 1500ms;
        // }

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation-delay: 500ms * $i;
            }
        }



        /**** ***/
        article {
            display: flex;
            justify-content: space-between;
            width: 90%;
            height: 69px;
            box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
            border-radius: 15.0431px;
            background-color: $white;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 12px;
            margin-left: 5%;
            .description {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 5px;
                padding: 12px 16px 12px 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                h4 {
                    margin: 0;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21.09px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .sub-title {
                    display: flex;
                    justify-content: space-between;

                    span {
                        font-size: 15.0431px;
                        line-height: 18px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .price {
                        font-weight: 700;
                        max-width: 80%;
                        text-overflow: inherit;
                        width: 35px;
                    }
                }
            }

            .tick {
                background-color: $lightGreen;
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -60px;
                transition: all .5s linear;
                width: 59px;


                i {
                    font-size: 21px;
                    margin: 0;
                }
            }

            &:hover {
                .tick {
                    margin-right: 0;
                }
            }
        }

        /*** ***/


        a {
            .card {
                display: flex;
                justify-content: flex-start;
                width: 92%;
                border-radius: 15.043px;
                box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
                background: $white;
                margin-left: 4%;
                margin-right: 5%;
                margin-bottom: 5%;

                div {
                    display: flex;
                    flex-direction: column;
                    width: 85%;
                    padding-top: 10px;
                    padding-left: 15px;

                    h3 {
                        margin-top: 0;
                        margin-bottom: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 80%;
                    }
                }






                span {
                    display: flex;
                    justify-content: space-between;
                    align-items: first baseline;

                }

                .check {
                    background-color: #99e2d0;
                    width: 59px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0px 15px 15px 0px;
                    opacity: 0;
                    right: -10px;
                    position: relative;
                    overflow: hidden;
                    transition: 200ms;
                    flex-shrink: 0;

                    i {
                        color: #99e2d0;
                        border-radius: 50%;
                        background: white;
                        margin-right: 8px;
                    }

                    &:hover {
                        opacity: 1;
                        right: 0;
                        margin-left: 10px;
                        transition: 1s;

                    }
                }

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 17px;
                    font-weight: 300;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 80%;
                }

                h4 {
                    padding-top: 15px;
                }
            }
        }


    }




}

.commander {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;

    .btn {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 769px) {

    .pageheader h1 {
        padding-right: 45%;
    }

    .pagemenu {
        width: 80%;
        margin-left: 10%;

        .card {
            margin-bottom: 2%;
        }
    }









}