* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

/****** General ***********/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  height: 63px;
}
header .logo {
  color: black;
  text-align: center;
  font-family: Shrikhand;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .localisation {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
}
main .localisation p {
  font-size: 16px;
  color: #353535;
  padding-left: 3%;
}
main .reservation {
  width: 100%;
  background: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
main .reservation h1 {
  text-align: center;
  margin: 0;
  color: black;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
main .reservation p {
  color: #353535;
  text-align: center;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}
main .reservation .btn {
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 50px;
  display: flex;
  align-items: center;
}
main section.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}
main section.functioning h2 {
  width: 100%;
  padding-left: 40px;
  line-height: 28px;
}
main section.functioning button {
  position: relative;
  width: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72.38px;
  background-color: #F7F7F7;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}
main section.functioning button .badge {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: #FFFFFF;
  font-size: 14.18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
}
main section.functioning button i {
  color: #7E7E7E;
  font-size: 19.9px;
  position: absolute;
  left: 8%;
}
main section.functioning button:hover i {
  color: #9356DC;
}
main section.eateries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
main section.eateries h2 {
  width: 100%;
  padding-left: 40px;
  line-height: 28px;
}
main section.eateries a {
  width: 90%;
  margin-bottom: 30px;
}
main section.eateries a article {
  display: flex;
  flex-direction: column;
  height: 251px;
  border-radius: 20px;
  background-color: #FFFFFF;
  position: relative;
}
main section.eateries a article img {
  height: 174px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
main section.eateries a article .sticker {
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.eateries a article .eatery-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
main section.eateries a article .eatery-container .eatery-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
main section.eateries a article .eatery-container .eatery-desc h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
}
main section.eateries a article .eatery-container .eatery-desc p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  font-size: 17px;
  font-weight: 300;
}
main section.eateries a article .eatery-container .like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
footer h2 {
  margin: 0;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  line-height: 26.24px;
}
footer p {
  margin: 0;
  padding-left: 25px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}
footer p a {
  color: #FFFFFF;
}
footer p a .fa-utensils {
  padding-right: 10px;
}
footer p a .fa-handshake-angle {
  padding-right: 5px;
}
footer p.contact {
  padding-bottom: 25px;
}

/*# sourceMappingURL=style.css.map */
