$grey: #F3F3F3;
$darkGrey: #EAEAEA;
$lightGreen: #99E2D0;
$green: #008766;
$blue: #89C8FA;
$darkBlue: #003A68;
$purple: #9356DC;
$white: #FFFFFF;
$greyBG: #F7F7F7;
$greyDarker: #7E7E7E;
$darkenGrey: #353535;